<div class="top">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.shutterstock.com/image-vector/male-doctor-smiling-happy-face-holding-2481032615" 
    alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr ABC</h5>
      <p class="card-text">Cardiologist</p>
      <a href="#" class="btn btn-primary">Book Appointment</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.shutterstock.com/image-vector/male-doctor-smiling-happy-face-holding-2481032615" 
    alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr ABC</h5>
      <p class="card-text">Cardiologist</p>
      <a href="#" class="btn btn-primary">Book Appointment</a>
    </div>
  </div>
</div>