<div class="doctor-list">
  <div class="doctor-card">
    <img src="https://www.shutterstock.com/image-vector/male-doctor-smiling-happy-face-holding-2481032615" alt="Doctor Image">
    <div class="doctor-info">
      <h3>Dr ABC</h3>
      <p>Cardiologist</p>
      <button (click)="goToBookings()">Book Appointment</button>
    </div>
  </div>

  <div class="doctor-card">
    <img src="https://www.shutterstock.com/image-vector/male-doctor-smiling-happy-face-holding-2481032615" alt="Doctor Image">
    <div class="doctor-info">
      <h3>Dr ABC</h3>
      <p>Cardiologist</p>
      <button (click)="goToBookings()">Book Appointment</button>
    </div>
  </div>
</div>
